/* CSS Reset */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/* Global Styles */
body {
  background-color: #17181f;
  color: #aaa;
  font-family: Arial, sans-serif; /* Add a font family for consistency */
}
h2{
  color:white;
}

/* Container Styles */
.container {
  width: 400px;
  margin: 20px auto;
}

/* Form Styles */
.container form {
  border: 3px solid #30313d;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 7px;
}

/* Input Styles */
.container input[type="text"] {
  background: none;
  padding: 0 8px;
  border: none;
  width: 100%;
  color: #aaa; /* Ensure text color is consistent with the body */
  color:#fff;
}

/* Button Styles */
.container form button {
  background-color: #61dafb;
  /* width: 30px;
  height: 30px; */
  
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #17181f; /* Ensure button text is readable */
  transition: background-color 0.3s ease; /* Add a transition for better UX */
}

.container form button:hover {
  background-color: #5268e2; /* Change background color on hover */
}
.tasks{
  background-color: #20212D;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

@media (max-width : 480px) {
  .container{
    width: 400px;
    padding: 30px 10px;

  }
  .container form button{
    width: 30px;

  }
  .container input{
    font-size: 22px;
  }
  h2{
    font-size: 30px;
  }
}